
<p>\begin{document} %</p>

<p>%</p>
<p>%One Sentence Summary: % 125 char</p>

<p>%texcount -inc -sum -0 -template={SUM} writeup.tex Words: 5104 \ Tables: 4 \ Figures: 1</p>

<p>Keywords: syntax; parsing; deep learning; language model; surprisal; fMRI % 10</p>





<p>This study concerns the kind of information that is used to shape expectations during language comprehension. Predictive processing has long been seen as central to rapid and efficient language comprehension . One mechanism by which prediction serves rapid comprehension is by pre-computing or pre-activating linguistic representations based on contextual cues and other top-down information. Preactivation is an important principle across different levels of comprehension, including lexical processing  and syntactic parsing . On a neural level, prior work has found evidence that top-down information can propogate through, or cascade, from higher-level conceptual representations to lower-level lexical and perhaps perceptual stages (; but c.f. ). The notion that top-down predictions can simultaneously impact multiple stages or levels of processing is consistent with neuroimaging research showing that the expectancy of a word impacts neural activation in a broad range of language-related brain regions, including the temporal lobes bilaterally and inferior frontal regions . We test here whether activity in these regions is conditioned by similar, or by different, aspects of linguistic context, with a specific focus on syntactic structure.</p>
<p>Our study builds on recent work that has probed how neural activity reflects predictive processing using the linking hypothesis of ``surprisal.’’ This quantity, which comes from information theory, measures the conditional probability of a word given some characterization of it’s context (see  for an introduction and review with a focus on psycholinguistics.) At the sentence level, surprisal has been found to correlate with reading times , eye-tracking measures , electrophysiological responses , and functional magnetic resonance imaging signals (fMRI; ).</p>
<p>Focusing on spatially localized results from fMRI, brain regions whose activity is moderated by estimates of surprisal show overlap, but also interesting differences, across several studies. For example,  report activations in the left and right temporal lobes, both anterior and posterior overlapping the middle and/or superior temporal gyri, and they also see activity in the superior frontal gyrus.  estimate surprisal for each word’s part-of-speech using a context comprising the two immediately preceding words (a third-order Markov language model.) Crucially, different approaches to estimating surprisal yield different results.  estimate surprisal using a similar Markov language model, but do so for each word individually (not for parts-of-speech). They report activation for surprisal that is constrained principly to the temporal lobe bilaterally. In contrast,  compute surprisal based on a context that explicitly encodes phrase structure but, like , they examine parts-of-speech. They see effects primarily in the left inferior frontal gyrus and also the left anterior temporal lobe.</p>
<p>, who also use fMRI and the surprisal linking hypothesis, use statistical model comparison to tease apart expectation effects as a function of whether they might reflect more sequence-based information, as in the Markov model, or hierarchical phrase-structure information. In this effort, they build on prior work with behavioral and electrophysiological measures by  who themselves are entering into a larger debate in the language sciences about the role of abstract grammatical structure in online language processes (for discussion, see e.g. , ch. 7, and .) Focusing on expectations about a word’s part-of-speech,  report that sequence-based Markov models correlate with activity in the anterior and posterior temporal lobe, as well as the left inferior frontal gyrus. They also find effects when surprisal is conditioned by a hierarchical phrase-structure grammar in those regions as well as a temporal-parietal region and a left premotor region. And, further, the effects for hierarchical structure are found above-and-beyond effects for the sequence-based models in all regions examinined except the left inferior frontal gyrus. The Region of Interest (ROI) data used for those results are available in the public domain, and they form the dataset that we analyze in this study.</p>
<p>To better understand the role of sequence-based and hierarchical information in guiding neural mechanisms for prediction, the present study draws on computational modelling from  to extend in two specific ways our understanding of the localization of surprisal effects. First, we use a more sophisticated account of sequence-based processing based on a state-of-the-art LSTM recurrent neural network . Such networks operate over word sequence information and do not explicitly encode phrase structure. But, rather than constraining prior context to a fixed window, as in a Markov model, or using a simple recurrent network with a strong proximity bias (as in electrophysiological work like  and ), these networks function to dynamically up-weight or down-weight different aspects of context, encoded in hidden layers. In this way, they may implicitly recover structural relations when demanded by the utility of that information as determined during training . They are thus a powerful baseline for comparing against models that explicitly encode hierarchical information.</p>
<p>Second, we adopt a hierarchical parsing model that accommodates the syntactic ambiguity common in natural language. While ambiguity is a frequent locus of study in psycholinguistics, prior work studying hierarchical effects of surprisal have relied on one-path ``gold-standard’’ syntactic parses to determine syntactic context. To capture ambiguity, we adopt a parser based on recurrent Neural Network Grammars  introduced by . This parser achieves competitive performance on standard NLP metrics and also, by virtue of its account of ambiguity and its capacity to explicitly encode abstract hierarchical principles, offers a compelling tool to estimate cognitive correlates of hierarchical processing. Using electroencephalography (EEG) data collected while participants listen to an audiobook,  report responses that are modulated by surprisal that are specific to the hierarchical component of their parser, above-and-beyond sequence-based surprisal effects estimated from the LSTM model.</p>
<p>Here, we use the same computational models as  but now apply them to spatially precise fMRI data. Doing so allows us to address which kinds of syntactic information impact processing that is distributed across the set of language-related frontal and temporal regions that were described above.</p>
<p>%debated the role that abstract syntactic structure plays in immediate and incremental processing . %At present, the evidence suggests that expectations are guided both by surface sequence information, and also by more abstract structural relationships. %This is true even when participants engage in relatively natural task, such as passively listening to an audiobook story .</p>
<p>In sum, to better understand how sequence-based and hierarchical information might be used to guide expectations across language-related brain regions, we combine neural network-based language models that either do or do not explicitly encode hierarchy with an openly available fMRI dataset collected while participants listened to an audiobook. To preview our results, we find broad effects across regions for surprisal, but effects of explicit hierarchy derived from the recurrent neural network grammar are constrained to the left posterior temporal lobe.</p>


<p>We analyze fMRI time-series from 26 individuals in six regions of interest. These come from 28 publically available datasets%  that were recorded while participants listened to a 12.4 minute audiobook story (the first chapter of ) . We set aside two of the available datasets because those participants scored at chance on a post-scan comprehension questionnaire. Equipment and scan protocol details are available in .</p>
<p>The time-series come from six regions of interest (ROIs) that were localized in each individual using a combination of functional and anatomical criteria that we summarize here. First, a statistical analysis identified voxels whose activity increased linearly with the rate that words appear in the story. This is a ``broad brush’’ localizer that should reveal activation for regions involved in many different aspects of language comprehension. Peaks in this functional localizer exceeding at least <span class="math inline"><em>t</em> = 2</span> were identified in six anatomically-defined regions: the left anterior temporal lobe (LATL), the right anterior temporal lobe (RATL), the left inferior frontal gyrus (LIFG), the left posterior temporal lobe (LPTL), the left inferior parietal lobule (LIPL), and a left posterior middle frontal gyrus premotor retion (LPreM). The intersection of functional peaks with anatomical regions was based on the Harvard-Oxford probabalistic brain atlas. Not all participants showed a functional peak in each anatomical region (Exclusions: LATL = 3, RATL = 4, LIFG = 5, LPTL = 2, LIPL = 2, LPreM = 2). For each ROI, the fMRI sign al was averaged within a 10 mm radius sphere around the functional peak.</p>
<p>The data thus constitute, for each participant, up to six time-series each of 362 samples (12.4 min = 744 sec = 372 samples at TR = 2; the first 10 samples of data were discarded.) The individually-defined ROI peaks are shown in Fig. A.</p>

<p>These fMRI time-series are modeled using metrics derived from computational models of sentence~processing presented by . To model the structural aspect of human language comprehension, we use Recurrent Neural Network Grammars (RNNG) .</p>

%% JTH: explicitly address R1’s question Putting RNNGs into an incremental parsing system yields a program that takes as input English words one by one in their order they would be spoken or heard in time. The output of this program is a phrase structure tree whose labels are consistent with the Penn Treebank~. To build these trees, the RNNG-based incremental parser stochastically choses a sequence of actions such as the ones shown in Table~ . The only options are (a)~to open a new phrase (i.e. posit a new tree node) (b)~to close-off a phrase (akin to the <code>reduce'' action in a bottom-up shift-reduce algorithm) or (c)~move on to the next word (</code>shift’’). Actions are selected on the basis of a learned numerical vector, symbolized by the box labelled~ in Figure~.

<p>%% JTH: actually the buffer was removed in this version. %% JTH: My recollection from Adhi was that this arrangement is simpler and yields as-high or higher performance %% on two pieces of information: the  of items not yet parsed, and a  that is the output of previous parse steps of prior actions taken.% This  vector is itself determined by a numerical encoding of the current contents of a stack<sub>memory</sub>. This ``stack LSTM’’ allows classic symbolic parsing techniques  to become deep neural networks. These networks are trained in a supervised manner on action~sequences that correspond uniquely to already-parsed sentences that are provided as training~data. During training, when the neural~network guesses the wrong parser~action, error is back-propagated through the entire~system. This can affect many different trainable parameters, including  itself. While learned vector~representations like  are not~necessarily interpretable, it seems likely that one<sub>of</sub>the~things  is representing is the history of previous<sub>parser</sub>actions. If this is~true, then the architecture as a whole qualifies as a relaxation of restrictive context-free assumptions that are inherent in more classical approaches to phrase~structure parsing — such as probabilistic context-free grammars. %% JTH: added for R2 At the same time, in virtue of having categorical representations that can be interpreted as phrase~structure trees it can potentially make use of tree-structural relationships such as c-command in deciding which action to take.</p>
<p>%% JTH: an elaboration of this footnote is now in the main text %%</p>

<p>We describe the elements of this parser in general terms here, with a focus on those components that bear on interpreting the fMRI data. For greater detail, see .</p>

One such element is the stack~memory shown in the bottom left hand corner of Figure~. Classical symbolic parsing systems would employ such a stack to keep track of partially-built phrase structure at a<sub>given</sub>point during incremental processing. For instance, it might contain the depth-1 tree whose root label is NP and whose three daughters are <code>the''</code>rabbit’’ and ``hole.’’ Whenever the RNNG-based parser opts to close off a phrase, such as this NP, a composition~function is triggered in which the elements on the stack that comprise that phrase and the phrasal label itself are popped off and encoded into a single element. Inclusion of this function means that phrasal~composition is explicitly encoded within the RNNG. Following , we also explore an alternative architecture which does not include this composition function. The alternative, dubbed RNNG<span class="math inline"><em></em><sub> − <em>C</em><em>O</em><em>M</em><em>P</em></sub></span>, places on the stack a sequence of bracketed expressions but does not explicitly encode whether those expressions belong to a single (composed) term. % JTH: added for R1 For example, the information shown in  would instead be encoded by this sequence of seven symbols on the stack:

<p>In this display, vertical~lines delimit distinct stack cells. This notation shows how, in RNNG<span class="math inline"><em></em><sub> − <em>C</em><em>O</em><em>M</em><em>P</em></sub></span>, the individual daughters of NP are each held on the stack separately, rather than being composed into a single representation. Without the composition mechanism, it becomes necessary to employ special right-bracket symbols like <span class="math inline">)<sub><em>N</em><em>P</em></sub></span> in order to be able to correctly build trees.</p>
<p>As is the case in human sentence comprehension, the RNNG parser does not have the capacity to look ahead to upcoming words. Thus, decisions made based on a partial word sequence may turn out to be incorrect based on subsequent words. We use the standard technique of <code>beam search'' to navigate this non-determinism \citep{roark2004robust}. The parser keeps track of a set of candidate analyses, the</code>beam’‘, which are ranked based on the probabilities of their constituent actions. This approaches matches the broad adoption of ranked-parallel parsing in psycholinguistics . In the case of a generative model like the RNNG, the beam search algorithm must take into account the imbalance in probability between structural actions and lexical actions . The ``word-synchronous’’ search algorithm from  resolves this imbalance by searching through structural actions until a sufficent number of candidate analyses in the beam take a lexical action; see Algorithm 1 in  for the implementation used here. The number of analyses needed to achieve a synchronous state is a free parameter <span class="math inline"><em>k</em></span> in this model; we set <span class="math inline"><em>k</em> = 200</span> as this value yielded a good fit to neural signals recorded using electroencephalography (EEG) in prior work . The number of analyses in the beam that are carried forward from each word is fixed<sub>at</sub><span class="math inline"><em>k</em>/10</span>.</p>
<p>As mentioned earlier %%in the Example-based Introduction to RNNGs, the network weights of the RNNG as well as those in the various baseline~models discussed below, are all set via Backpropagation<sub>Through</sub>Time on a common training corpus made up of chapters 2–12 of , comprising 24,941 words. The corpus was parsed using the Stanford<sub>parser</sub> yielding a syntactic~annotation in accordance with the Penn Treebank annotation scheme~. %These structures offer an adequate representation of constituency, though not other grammatical features such as long-distance dependencies. Further training details are given in . While our principle goal is to quantify model quality in terms of how well they fit human neural signals, we can also quantify the quality of the model in terms of the text itself.  is a common metric which summarizes the average uncertainty of a language model when confronted with text, computed as: % <br /><span class="math display">$$ 2^{-\frac{1}{N} \sum_{w=1}^{N} log_2(Pr(w | C))} $$</span><br /> % When computed for the first chapter of , our models show values of <span class="math inline">24.10</span>, <span class="math inline">23.16</span>, and <span class="math inline">25.01</span> for LSTM, , and the full RNNG, respectively. These are lower than those typically observed in computational linguistics, which likely reflects the relatively small genre-specific training text used. For present purposes, what is important is that these values are much smaller than would be expected if the models had not learned any regularities in the text (under a uniform language model, perplexity is equal to vocabulary size.) And, further, these show that the models all perform roughly equally in terms of predicting the text itself.</p>
<p>The next sections turn to how we use these models to derive predictions for the fMRI data collected from people listening to the audiobook.</p>

<p>To link the the RNNG parsing model with neural fMRI data, we define two  that quantify different aspects of the model’s state at each word. As such, these metrics tap into different aspects of processing complexity as estimated from the model. The principle aim of this paper is to probe predictive syntactic processing. To this end we use the information theoretic construct of to quantify the (un)expectedness of a word given its syntactic left-context . is calculated as the log-ratio of the forward probabilities of the analyses in the beam. This metric is higher when encountering a word that is unexpected, and lower when a word is expected; prior work has shown a good match between and, for example, the N400 event-related potential (ERP) brain response associated with lexical processing . Important for our purposes, values vary depending on how the (left-)context for forward probabilities is defined. ERP research has shown that contexts that make hierarchical information explicit, as with RNNGs, yield values that show better fits to ERP signals than when is calculated using sequence-information alone .</p>
<p>As in , we define several different models for computing . In addition to the full RNNG, we also compute surprisal when the explicit composition mechanism is removed (RNNG<span class="math inline"><em></em><sub> − <em>C</em><em>O</em><em>M</em><em>P</em></sub></span>). We further compute from a state-of-the-art LSTM recurrent neural network . Rather than explicitly encoding phrase structure, such networks operate over word sequence information although they may implicitly recover structural relations through training .%  As already mentioned in the Introduction, we predict that should affect a broad range of stages of language comprehension and, thus, we expect this measure to modulate activity across the language-related ROIs we probe. The key theoretical question is whether, and in which regions, values based on explicit hierarchical structure outperform those values based on the sequence-based LSTM baseline.</p>
<p>The RNNG model also affords another complexity metric which seeks to capture the intuitive notion of sentence~processing <code>work.'' This metric is called \distance and it is can be understood as more-realistic version of the node-counting metrics used in \citet{Brennan:2010ab} and \citet{Brennan:2016yu}.  The additional realism comes from explicitly modeling the ambiguity resolution process, which node-counting metrics do not address. These classical~measures only tabulate effort~spent building the correct~tree, without regard to effort spent sifting~through alternative trees. This latter factor would be required in an incremental parsing system that actually copes with ambiguity. %% JTH: addresses Kazanina's point 3 here \distance\ models this factor, over and above the basic equation between tree nodes and parser effort. It amounts to a penalty for cases where the RNNG-based incremental parser has a hard time finding phrase~structures that span the next input word. This is roughly analogous to the</code>Arcs Attempted’’ metric in . It is defined in terms of the search~procedure rather than the grammar and so, to our knowledge, does not map on to any particular syntactic~relationship (e.g. it is not c-command). %% JTH: addresses Kazanina’s point 1 here %%that e.g. would be defined in competence grammar such as c-command. Nor does it map on to expectedness of a word in the way that surprisal does. Rather the  metric connects best with %%Distinct from the expectedness of a particular word, this metric connects with efforts to probe the neural bases of combinatoric operations themselves . While prior work has not reached a consensus, the principle loci of such combinatoric processing in that literature include the LATL, LPTL, and the LIFG; we predict that will modulate activity within that network and further expect improved fit to the fMRI data when composition is explicitly encoded.</p>
<p>Earlier work with the same dataset  used a set of computational models and complexity metrics that are theoretically related to the LSTM and RNNG models used here, but differ in several key respects. Importantly, those previous models were limited as accounts of cognition in that they were defined only over parts-of-speech (POS), not individual lexical items, and they did not address the issue of structural ambiguity. We briefly review those metrics here as they will be used in a control analysis that is described below.  use two kinds of metrics: the first, , is a sequence-based Markov model defined over POS. The second, , derives for POS based on hierarchical structure based on a one-path <code>gold-standard'' context-free grammar phrase-structure tree. They also define a metric based on the number of phrase-structure nodes added to a tree, \nodecount, using a top-down enumeration strategy.% % \footnote{To keep our comparison manageable, we test four of the nine metrics used by \citep{Brennan:2016yu}:</code>3gram.p’‘, <code>cfg.surp'',</code>cfg.td’‘, and <code>mg.td''. These four span the range of metric types used in that earlier work and all showed reliable effects.} % \nodecount was defined for two different tree structures: the same \cfg structures described just above, as well as a hand-built Minimalst Grammar, \mg, based on a generative linguistics textbook \citep{Koopman:2005wa}. That metric is theoretically similar to our \distance metric in that it aims to quantify sentence~processing</code>work’’ but it is computed very differently in that ignores ambiguity.</p>
<p>%  also found hierarchical surprisal improved fits in the LPTL above-and-beyond a sequential Markov-model baseline (). %They characterized hierarchical surprisal using a one-path ``gold standard’’ context-free grammar parse-tree ().</p>

<p>We use hierarchical regression and model comparison to test the fit between and from this family of computational models and the fMRI time-series from six language-related ROIs.</p>
<p>To align the linguistic metrics with the hemodynamic data, we transform the word-by-word values from the computational models, and several control variables that are described below, into estimators for the hemodynamic signal . The steps for this transformation are as follows: (i) Each variable of interest (e.g. , , etc.) is given a time-stamp based on offset of each word in the audiobook story. (ii) These time-aligned vectors are then convolved with the canonical Hemodynamic Response Function (HRF) using the  function from the SPM8 toolbox and then (iii) orthogonalized against the convolved output for a simple ``word rate’’ indicator variable that is set to one at word-offset and to zero otherwise; this removes low-level correlations between the vectors introduced by their common timing. Finally, (iv) the resulting vectors are re-sampled to 0.5 Hz and truncated to match the 362 samples of fMRI data recorded for each ROI. The results of this procedure are a set of estimators for hemodynamic signals that vary in accordance with states of our computational models as quantified by the complexity metrics.</p>
<p>We constructed separate regression models for the fMRI time-series, z-transformed, from each of the six ROIs. Control predictors in the regression models include the convolved vectors for the rate of word occurance which was also used as a functional language localizer (z-transformed), acoustic sound power (z-transformed), six movement parameters for each participant estimated during fMRI pre-processing (mean centered), word frequency (HAL corpus values, log-transformed), and a manual annotation of prosodic break strength. Each of these control factors was entered as a fixed effect into a hierarchical regression model fit with the  function from the  package in R . A random intercept term was included for each participant and a random slope term was included by participant for the word rate predictor.</p>
<p>Against these baseline models for each ROI, we sequentially add terms of interest derived from the computational models described above. The first step adds a term for LSTM . The analysis then splits into one path for RNNG and another for RNNG . The path adds step-wise to the model with control predictors and the LSTM term the predictor dervied from RNNG<span class="math inline"><em></em><sub> − <em>C</em><em>O</em><em>M</em><em>P</em></sub></span> and then, separately, adds both the RNNG<span class="math inline"><em></em><sub> − <em>C</em><em>O</em><em>M</em><em>P</em></sub></span> and full RNNG predictors together. The second path begins also with a model containing all control predictors and the LSTM term, but then adds, step-wise, first just from the RNNG<span class="math inline"><em></em><sub> − <em>C</em><em>O</em><em>M</em><em>P</em></sub></span> model, and then both RNNG<span class="math inline"><em></em><sub> − <em>C</em><em>O</em><em>M</em><em>P</em></sub></span> and the full RNNG terms together. This step-wise sequence of model-building is schematized on the right-hand side of Fig. .</p>
<p>Bivariate correlation coefficients for each term entered into the models are shown in Table . Note that LSTM shows substantial similarity, but not identity, with from the RNNG models (<span class="math inline"><em>r</em> &gt; 0.8</span>). The metrics derived from the full RNNG, as compared to , are also quite similar (both <span class="math inline"><em>r</em> &gt; 0.6</span>); these correlations underscore the importance of step-wise model comparison, described below, to evaluate the unique contribution of each term, and encourage caution when interpreting individual coefficient values.</p>

<p>Constructing models in this step-wise fashion allowed us to evaluate the contribution of the RNNG and terms above-and-beyond lower-order control covariates and LSTM using model comparison. Model comparsion was done using the  function in R to compute the likelihood ratio between models that differ in just one term. For nested models, as used here, this ratio follows the <span class="math inline"><em>χ</em><sup>2</sup></span> distribution with degrees of freedom equal to difference in the number of terms between models. Individual terms were considered ``statistically significant’’ if this model comparison reached <span class="math inline">$p &lt; 0.05 / 6 = 0.008\overline{3}$</span>, which adjusts the significance threshold for testing across six ROIs using a bonferroni correction.</p>


<p>The six ROIs are shown in different colors in Fig. A where each dot represents an individual participant’s peak. Regression coefficients from the control model and the step-wise more complex models are plotted, below, in Figs. B–F. These coefficients are extracted from the minimal model containing each term. For example, the coefficients for LSTM in panel C come from the model for each ROI containing just control predictors and LSTM , but without any terms derived from the RNNG. Statistical significance, indicated by asterisks, comes from step-wise model comparison of the more complex models against simpler models described in the Methods section, above.</p>
<p>Panel B in Fig.  shows coefficients for the control predictors. The first row indicates a strong positive effect for the word rate predictor; this result is trivial as the same predictor was originally used to functionally localize these ROIs . Results for the other control predictors are discussed below.</p>
<p>Our principle question concerns how linguistic predictions based on different types of syntactic information modulate responses across this set of language-related regions. Panel C in Fig.  shows the coeffients in each ROI for LSTM when this term is included in a model with the control predictors. This coefficient shows a statistically significant positive effect in all six ROIs. Summary statistics for the model comparisons in each ROI are given in Table . This result is consistent with prior work showing that lexical predictions based on sentence context modulate activity in a range of fronto-temporal langauge-related regions consistent with top-down activity that ``cascades’’ from higher-level compositional processing through to lower lexical and sub-lexical levels.</p>
<p>We next test in what way the explicit encoding of linguistic hierarchy might modulate activity above-and-beyond what we see for the effect of LSTMs. Panel D in Fig  shows the coefficents for from both the and full RNNG models. These are added sequentially, one at a time, onto lower-order models that include LSTM and control predictors. We find that the RNNG does capture variance in several ROIs, including the LPTL and LIPL, as shown in the statistical summaries in Table . In the LPTL, captures variance such that higher leads to greater activity. A different pattern is seen in the LIPL such that from the full RNNG captures variance above-and-beyond that explained with the LSTM, , and control predictors. But, the effect direction is such that there is lower activity for higher . Such a result should be interpreted with great caution; an important factor to consider is that the and full RNNG predictors are highly correlated with each other (see Table ); this may lead to unstable estimates for the resulting coefficients but does not impact the model comparison statistics.</p>
<p>Finally, the metric that we extract from the RNNG allows us to investigate how the number of parse steps explored by the model modulates brain activity across these regions. These effects are shown in panel E of Fig.  and model comparisons are summarized in Table . We find that RNNG captures variance above-and-beyond LSTM and other control covariates in the LATL, LIFG, LPTL and the LIPL. Furthermore, these effects were specific to the full RNNG, not , in the LATL, LIFG and LPTL.</p>
<p>The results thus far reflect regression analyses that were fit individually to each ROI. We quantify the statistical reliability of differences between regions in the following way. For each of three terms noted above (LSTM , , and RNNG ) we construct a regression model which includes all control and lower-order predictors (just as in the step-wise model comparison) and then we also add a main effect of ROI as well as interactions between ROI and every other term. This model also includes a random slope for the effect of ROI by subject. We then conduct a likelihood ratio test for the change in likelihood when we remove just he interaction term between the target predictor (e.g. RNNG ) and ROI.</p>
<p>This interaction analysis indicates that there is no significant interaction between LSTM and ROI (<span class="math inline"><em>χ</em><sup>2</sup>(5) = 4.96, <em>p</em> = 0.421</span>). There is a statistically significant interaction between and ROI (<span class="math inline"><em>χ</em><sup>2</sup>(5) = 20.37, <em>p</em> = 0.001</span>) and also between RNNG and ROI (<span class="math inline"><em>χ</em><sup>2</sup>(5) = 18.44, <em>p</em> = 0.002</span>). These interaction effects lend support to the claim that the hierarchical effects of the RNNG are specific to certain ROIs.</p>



<p>Returning to the control predictors, the coefficients in Fig, B show that sound power has a positive effect in the LPTL, adjacent to the primary auditory cortex. The index of prosodic break strength shows positive effects in both the left and right ATL, and a negative effect in the LIPL. Word frequency shows more moderate effects across regions likely due its reduced impact in a story-book setting with strong contextual influences.</p>
<p>The results discussed above all reflect the step-wise addition of higher-level syntactic predictors over baseline control terms, as illustrated on the right-hand side of Fig. . All of the coefficients from each of the models that were fit by this step-wise procedure are summarized in Fig.  in the Appendix.</p>
<p>% To check how sensitive our conclusions might be to the use of step-wise comparison, we also fit a single regression model with all target terms simultaneously. The results of this fit are given in Fig. . Results for all measures are qualitatively unchanged, as is the effect observed in the LPTL. LSTM shows a reliable positive effect only in the LATL, RATL, and LIPL, but this term does not show reliable effects in the other ROIs when entered along-side RNNG terms.</p>

<p>% A reviewer raised the question of how these results compare with those from an earlier analysis by our group  that compared a different set of computational models with the same fMRI data. Such a comparison is challenging as the models used in that work differ from the present in several important ways. Notably, those models were defined over each word’s POS, while the present models are defined over individual lexical items themselves. Despite these differences, a side-by-side comparison should help to bring a bit more cohesion to the literature. We consider four representative predictors from that earlier work: (1) , (2) , (3) , and (4) . (Recall that is based on the number of phrase-structure nodes added to the tree under a top-down enumeration strategy and does not take into account structural ambiguity.) Table  in the Appendix shows the correlations between our LSTM and RNNG-based predictors along-side these additional syntactic predictors. Model-comparisons were carried out just as in the main analysis except that these four additional predictors were included in the null baseline model.</p>
<p>Detailed results from this additional analysis are summarized in Tables , , and  in the Appendix. These tables show that the results for RNNG are qualitatively un-changed when taking into account the earlier and predictors from  (Table ). In contrast, the pattern for is different: we do not see evidence for improvement of model fit in the LPTL (Table ). Rather improves model fits in the RATL but, importantly, the coefficient for this effect shows  activity in this region for higher , <span class="math inline"><em>β</em> =  − 0.074, <em>S</em><em>E</em> = 0.023</span>. It appears, then, that the predictors from  are capturing similar variance to that captured by the predictor. LSTM also patterns a bit differently, showing model improvements that surpass our threshold for multiple comparisons only in LATL and LIFG (Table ).</p>

<p>This study aims to narrow down the kind of information used to guide predictive processing across different brain regions that are engaged in sentence-level language comprehension. We combined publically available fMRI data collected while participants listen to a naturalistic story with a computational parsing model that we quantify in two ways: the (un)expectedness of a word, or , and the number of parsing steps, or , explored by the model between words. We examine the fit between these metrics and fMRI activity across a set of fronto-temporal regions to test where the explicit encoding of phrase-structure captures aspects of the brain signal above-and-beyond word-sequence information and other control covariates. We do see evidence phrase-structure effects: when is conditioned by explicit hierarchy, as in the RNNG language model, this improves the fit against fMRI data from the LPTL. The metric correlates with activity in the LIFG, LATL and LPTL and, further these fits are improved when the RNNG not only encodes hierarchy, but composes phrases together into single expressions.</p>
<p>We see effects for across all six ROIs when that value comes from a LSTM language model, which does not encode syntactic structure explicitly but may recover such information implicitly . This is consistent with a range of prior neuroimaging studies that use similar methodology as ours, but calculate surprisal from other kinds of language-models . This result is in-line with that obtained by  (using the same datasets as analyzed here) who see effects when surprisal is conditioned by a context-free grammar in all six of these same ROIs. The model used in that work, unlike the present model, calculated probabilities for each word’s part-of-speech, not the lexical item itself.  also report effects when surpisal is calculated for parts-of-speech using a context-free grammar, and find their largest effect in the LIFG, along-side a less robust effect in the LATL, while other work in which surprisal is conditioned on limited sequential information (a Markov model) find primarily effects in the temporal lobes bilaterally .</p>
<p>%Bilateral temporal effects, but not LIFG or LPTL modulations, have been found when surprisal is conditioned %When conditioning effects on word-sequence information alone, using a Markov model where the surprisal of a word is based on a fixed number of prior words %Prior working using sequence-based models – Markov models where surprisal is conditioned on a fixed number of prior words – %Two axes distinguish these prior studies. On the one hand are those that compute the conditional probability of some word given a fixed prior number of words (a Markov language model) , as compared to those that use conditional probabilities based on some account of hierarchical phrase structure . %A second axis is whether the probabilities are calculated for words themselves , or for each word’s part-of-speech . %It is likely that different choices for these parameters yields estimators for different aspects of predictive processing. %And, indeed, the papers reveal overlapping yet distinct patterns of neural activity. %The present result for LSTM is broader, but inclusive, than those prior studies. Differences may reflect that we are examining  effects of , rather than part-of-speech effects (following the distinction in ).</p>
<p>When is calculated from a RNNG language model, which does encode hierarchy explicitly, such a model improves fits to fMRI signals recorded in the LPTL.%   also found hierarchical surprisal improved fits in the LPTL above-and-beyond a sequential Markov-model baseline (). As already discussed above, they characterized hierarchical surprisal using a one-path ``gold standard’’ context-free grammar parse-tree (). They also report improved fits of the same kind in other regions including LATL, RATL, and LIFG, which we do not find in the present results. One reason for that difference may be due to the more sophisticated baseline LSTM model used in the present study; its gated memory architecture allows it more flexibility in capturing contextual dependencies that are both proximal and distal to the target word. Unfortunately, the present analysis does not offer a minimal comparison to that earlier work: in addition to different architectures, the earlier models had a different domain (POS) than the present models (lexical items).</p>
<p>The results for are not statistically reliable when tested along-side effects derived from the and models from . This indicates that the two kinds of models are capturing shared variance in the fMRI data. But, understanding the nature of any overlap is challenging due to the already-mentioned differences in their domain and other architectural aspects. The fact that language-users themselves predict specific lexical items, and do so in light of the regular ambiguity in every-day language, recommends something with the same features as the present RNNG models . Yet, the the empirical fits for POS-based predictions from those earlier, and simpler, models suggests to us that it will be valuable in future work to probe how to integrate POS predictions along-side lexical-specific predictions.</p>
<p>Along-side effects for , we used the complexity metric to probe for neural signals reflecting compositional processing.  counts the steps of structural analysis pursued by the parser as it moves from word-to-word. In this way, it aligns with a large number of prior efforts that probe for composition effects by comparing stimuli with more or less syntactic structure, including sentences and word-lists , simple phrases to non-phrasal stimuli , or via computational parsing models . The effects we see of in the LATL, LPTL and LIFG are in accordance with results from those prior studies. Also, as already noted, the effects are observed above-and-beyond the theoretically-related metric from . %We speculate that processing difficulties associated with lexical selection and structural ambiguity are better captured by the metric. Furthermore, the model comparison between the full RNNG values, and those values when the RNNG does not explicitly compose phrasal units together () lends support to the cognitive importance of compositional mechanisms during online parsing . Finally the results for are not sensitive to whether terms are or are not included in the models, nor are they sensitive to the presents of measures that were used to estimate structural analysis effort in earlier work. What sets apart from those earlier measures is that it explicitly reflects the ambiguity present in every-day parsing and quantifies structural analysis in the presence of this ambiguity.</p>
<p>A possible point of contention concerns the relative breadth of our result as compared to more narrow findings reported in some prior studies, especially those focused on minimal comparisons of simple phrases to non-phrases . Those studies find effects exclusive to the temporal lobe. We suggest that careful consideration of the metric can help to resolve the apparent mismatch. The observed correlations may reflect a neural mechanism that varies in proportion to the number of parser operations – in accordance with a kind of semantic composition or syntactic structure-building. But, the parser tends to take more actions when it has entered states that are unexpected or unusual; in other words, when new information requires a kind of syntactic reanalysis. Indeed, several prominent theories of the role for the LIFG in language comprehension assign a role related to addressing ambiguous or conflicted input . The suggestion that may relate, at least in part, to late-stage reanalysis operations is supported by results from  who find this measure to correlate with a late, P600-like, EEG component. Future work using more granular complexity metrics to tease apart these different aspects of the metric may be useful in offering a more nuanced window into this particular pattern of results.</p>

<p>The expectedness of a word modulates brain activity in a wide range of regions associated with many levels of language comprehension. Using fMRI data from story-listening and a parser based on recurrent neural network grammars, we see evidence that explicit representation of hierarchy plays a role in a subset of these regions, like the left posterior temporal lobe. Parsing steps that not only encode structure, but compose phrases together into single terms, modulates activity in the left temporal lobe and inferior frontal regions. These findings generalize across the range of linguistic input found in a natural literary text. These quantitative matches between states of a computational model and neural data narrow down the kinds of information that are being processed across perisylvian language-related bain regions. These results point towards future word that probes, in a more granular way, the specific hierarchical structures that are in play during incremental processing.</p>

<p>This work was funded in part by grants from the National Science Foundation: grant #1607251 to JRB and grant #1607441 to JTH.</p>


<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % EXTRA TABLES AND FIGURES IN THE APPENDIX % %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % COEFFICIENTS FROM ALL THE MODELS FIT IN THE MAIN ANALYSIS % %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>


<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % Correlation matrix with old and new syntax predictors % %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>

<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % extra CONTROL Predictors: LSTM results % %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
<p>\begin{table}[h] </p>

<p>% end resizebox</p>
<pre><code>\caption{\label{tab:control-lstm} Model comparison results for LSTM \surprisal when additional syntactic predictors from \citet{Brennan:2016yu} are added to the null model.  Asterisks (*) indicate an improvement in model fit that surpasses a bonferroni-corrected $\alpha = 0.05/6 = 0.008\overline{3}$}}</code></pre>
<p>\end{table}</p>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % extra CONTROL Predictors: RNNG SURPRISAL results % %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>

<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % extra CONTROL Predictors: RNNG DISTANCE results % %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % COEFFICIENTS: Original controls only % %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% %%% % % \begin{table}[h] %  % \resizebox{}{!}{ % \begin{tabular}{l S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3 ]} %  % &amp; %  &amp; %  &amp; %  &amp; %  &amp; %  &amp; %  \ %  % (Intercept) &amp; -0.045 &amp; 0.052 &amp; -0.075 &amp; 0.026 &amp; 0.176 &amp; 0.049 &amp; -0.072 &amp; 0.055 &amp; 0.062 &amp; 0.059 &amp; 0.128 &amp; 0.048 \ % sndpwr &amp; -0.007 &amp; 0.012 &amp; 0.015 &amp; 0.012 &amp; -0.016 &amp; 0.013 &amp; 0.071 &amp; 0.012 &amp; 0.009 &amp; 0.012 &amp; 0.004 &amp; 0.012 \ % rate &amp; 0.137 &amp; 0.016 &amp; 0.097 &amp; 0.013 &amp; 0.101 &amp; 0.014 &amp; 0.097 &amp; 0.019 &amp; 0.082 &amp; 0.016 &amp; 0.105 &amp; 0.014 \ % freq &amp; 0.014 &amp; 0.011 &amp; 0.034 &amp; 0.012 &amp; -0.026 &amp; 0.012 &amp; 0.001 &amp; 0.011 &amp; 0.052 &amp; 0.011 &amp; 0.039 &amp; 0.011 \ % breaks &amp; 0.169 &amp; 0.011 &amp; 0.070 &amp; 0.012 &amp; 0.015 &amp; 0.012 &amp; -0.028 &amp; 0.011 &amp; -0.081 &amp; 0.011 &amp; 0.008 &amp; 0.011 \ % dx &amp; 0.119 &amp; 0.018 &amp; 0.008 &amp; 0.012 &amp; 0.163 &amp; 0.019 &amp; 0.290 &amp; 0.017 &amp; 0.309 &amp; 0.017 &amp; 0.225 &amp; 0.018 \ % dy &amp; -0.153 &amp; 0.017 &amp; 0.025 &amp; 0.012 &amp; 0.087 &amp; 0.020 &amp; 0.132 &amp; 0.017 &amp; 0.003 &amp; 0.017 &amp; 0.089 &amp; 0.017 \ % dz &amp; 0.107 &amp; 0.027 &amp; 0.097 &amp; 0.023 &amp; -0.260 &amp; 0.028 &amp; 0.174 &amp; 0.026 &amp; 0.016 &amp; 0.027 &amp; -0.091 &amp; 0.025 \ % rx &amp; 0.070 &amp; 0.017 &amp; -0.043 &amp; 0.012 &amp; -0.033 &amp; 0.018 &amp; -0.071 &amp; 0.017 &amp; 0.068 &amp; 0.017 &amp; -0.010 &amp; 0.016 \ % ry &amp; -0.192 &amp; 0.018 &amp; 0.009 &amp; 0.012 &amp; 0.061 &amp; 0.019 &amp; 0.021 &amp; 0.018 &amp; -0.018 &amp; 0.018 &amp; 0.055 &amp; 0.018 \ % rz &amp; 0.125 &amp; 0.019 &amp; -0.006 &amp; 0.015 &amp; -0.115 &amp; 0.018 &amp; 0.022 &amp; 0.018 &amp; 0.100 &amp; 0.019 &amp; 0.048 &amp; 0.018 \ %  % % \end{tabular} } % end resizebox %

<p>% \end{table}</p>
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % COEFFICIENTS: Add LSTM step-wise % %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % % \begin{table}[h] %  % \resizebox{}{!}{ % \begin{tabular}{l S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3 ]} %  % &amp; %  &amp; %  &amp; %  &amp; %  &amp; %  &amp; %  \ %  % (Intercept) &amp; -0.046 &amp; 0.052 &amp; -0.075 &amp; 0.026 &amp; 0.176 &amp; 0.049 &amp; -0.073 &amp; 0.054 &amp; 0.061 &amp; 0.058 &amp; 0.127 &amp; 0.048 \ % sndpwr &amp; -0.011 &amp; 0.012 &amp; 0.013 &amp; 0.012 &amp; -0.020 &amp; 0.013 &amp; 0.067 &amp; 0.012 &amp; 0.007 &amp; 0.012 &amp; 0.002 &amp; 0.012 \ % rate &amp; 0.137 &amp; 0.016 &amp; 0.097 &amp; 0.013 &amp; 0.102 &amp; 0.014 &amp; 0.098 &amp; 0.019 &amp; 0.083 &amp; 0.016 &amp; 0.105 &amp; 0.014 \ % freq &amp; 0.021 &amp; 0.011 &amp; 0.038 &amp; 0.012 &amp; -0.019 &amp; 0.012 &amp; 0.008 &amp; 0.011 &amp; 0.057 &amp; 0.011 &amp; 0.043 &amp; 0.011 \ % breaks &amp; 0.159 &amp; 0.011 &amp; 0.065 &amp; 0.012 &amp; 0.006 &amp; 0.012 &amp; -0.036 &amp; 0.011 &amp; -0.087 &amp; 0.011 &amp; 0.003 &amp; 0.011 \ % dx &amp; 0.118 &amp; 0.018 &amp; 0.008 &amp; 0.012 &amp; 0.162 &amp; 0.018 &amp; 0.289 &amp; 0.017 &amp; 0.308 &amp; 0.017 &amp; 0.224 &amp; 0.018 \ % dy &amp; -0.153 &amp; 0.017 &amp; 0.025 &amp; 0.012 &amp; 0.088 &amp; 0.020 &amp; 0.132 &amp; 0.017 &amp; 0.004 &amp; 0.017 &amp; 0.090 &amp; 0.017 \ % dz &amp; 0.108 &amp; 0.027 &amp; 0.097 &amp; 0.023 &amp; -0.259 &amp; 0.028 &amp; 0.176 &amp; 0.026 &amp; 0.018 &amp; 0.027 &amp; -0.090 &amp; 0.025 \ % rx &amp; 0.068 &amp; 0.017 &amp; -0.044 &amp; 0.012 &amp; -0.036 &amp; 0.018 &amp; -0.073 &amp; 0.017 &amp; 0.066 &amp; 0.017 &amp; -0.011 &amp; 0.016 \ % ry &amp; -0.194 &amp; 0.018 &amp; 0.009 &amp; 0.012 &amp; 0.060 &amp; 0.019 &amp; 0.020 &amp; 0.018 &amp; -0.019 &amp; 0.018 &amp; 0.054 &amp; 0.018 \ % rz &amp; 0.126 &amp; 0.019 &amp; -0.006 &amp; 0.015 &amp; -0.115 &amp; 0.018 &amp; 0.022 &amp; 0.018 &amp; 0.100 &amp; 0.018 &amp; 0.048 &amp; 0.018 \ % lstm256surp &amp; 0.068 &amp; 0.011 &amp; 0.043 &amp; 0.011 &amp; 0.065 &amp; 0.011 &amp; 0.060 &amp; 0.010 &amp; 0.047 &amp; 0.010 &amp; 0.043 &amp; 0.011 \ %  % % \end{tabular} } % end resizebox %

<p>% \end{table}</p>
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % COEFFICIENTS: Add RNNG-COMP SURPRISAL step-wise % %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % % \begin{table}[h] %  % \resizebox{}{!}{ % \begin{tabular}{l S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3 ]} %  % &amp; %  &amp; %  &amp; %  &amp; %  &amp; %  &amp; %  \ %  % (Intercept) &amp; -0.046 &amp; 0.052 &amp; -0.075 &amp; 0.026 &amp; 0.176 &amp; 0.049 &amp; -0.073 &amp; 0.054 &amp; 0.061 &amp; 0.059 &amp; 0.127 &amp; 0.048 \ % sndpwr &amp; -0.012 &amp; 0.012 &amp; 0.010 &amp; 0.013 &amp; -0.018 &amp; 0.013 &amp; 0.070 &amp; 0.012 &amp; 0.006 &amp; 0.012 &amp; 0.003 &amp; 0.012 \ % rate &amp; 0.137 &amp; 0.016 &amp; 0.097 &amp; 0.013 &amp; 0.101 &amp; 0.014 &amp; 0.097 &amp; 0.019 &amp; 0.083 &amp; 0.016 &amp; 0.105 &amp; 0.014 \ % freq &amp; 0.020 &amp; 0.011 &amp; 0.035 &amp; 0.012 &amp; -0.015 &amp; 0.012 &amp; 0.012 &amp; 0.011 &amp; 0.056 &amp; 0.011 &amp; 0.045 &amp; 0.011 \ % breaks &amp; 0.159 &amp; 0.011 &amp; 0.064 &amp; 0.012 &amp; 0.007 &amp; 0.012 &amp; -0.036 &amp; 0.011 &amp; -0.088 &amp; 0.011 &amp; 0.003 &amp; 0.011 \ % dx &amp; 0.118 &amp; 0.018 &amp; 0.008 &amp; 0.012 &amp; 0.160 &amp; 0.018 &amp; 0.286 &amp; 0.017 &amp; 0.309 &amp; 0.017 &amp; 0.223 &amp; 0.018 \ % dy &amp; -0.153 &amp; 0.017 &amp; 0.025 &amp; 0.012 &amp; 0.088 &amp; 0.020 &amp; 0.132 &amp; 0.017 &amp; 0.004 &amp; 0.017 &amp; 0.090 &amp; 0.017 \ % dz &amp; 0.108 &amp; 0.027 &amp; 0.097 &amp; 0.023 &amp; -0.259 &amp; 0.028 &amp; 0.175 &amp; 0.026 &amp; 0.018 &amp; 0.027 &amp; -0.090 &amp; 0.025 \ % rx &amp; 0.068 &amp; 0.017 &amp; -0.044 &amp; 0.012 &amp; -0.035 &amp; 0.018 &amp; -0.073 &amp; 0.017 &amp; 0.066 &amp; 0.017 &amp; -0.011 &amp; 0.016 \ % ry &amp; -0.194 &amp; 0.018 &amp; 0.009 &amp; 0.012 &amp; 0.061 &amp; 0.019 &amp; 0.021 &amp; 0.018 &amp; -0.019 &amp; 0.018 &amp; 0.054 &amp; 0.018 \ % rz &amp; 0.126 &amp; 0.019 &amp; -0.005 &amp; 0.015 &amp; -0.116 &amp; 0.018 &amp; 0.022 &amp; 0.018 &amp; 0.100 &amp; 0.018 &amp; 0.048 &amp; 0.018 \ % lstm256surp &amp; 0.077 &amp; 0.021 &amp; 0.082 &amp; 0.022 &amp; 0.027 &amp; 0.022 &amp; 0.011 &amp; 0.020 &amp; 0.060 &amp; 0.020 &amp; 0.026 &amp; 0.021 \ % rnngsurp-comp &amp; -0.011 &amp; 0.021 &amp; -0.046 &amp; 0.022 &amp; 0.045 &amp; 0.022 &amp; 0.058 &amp; 0.020 &amp; -0.015 &amp; 0.020 &amp; 0.021 &amp; 0.021 \ %  % % \end{tabular} } % end resizebox %

<p>% \end{table}</p>
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % COEFFICIENTS: Add RNNG SURPRISAL step-wise % %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % % \begin{table}[h] %  % \resizebox{}{!}{ % \begin{tabular}{l S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3 ]} %  % &amp; %  &amp; %  &amp; %  &amp; %  &amp; %  &amp; %  \ %  % (Intercept) &amp; -0.046 &amp; 0.052 &amp; -0.075 &amp; 0.026 &amp; 0.176 &amp; 0.049 &amp; -0.073 &amp; 0.054 &amp; 0.062 &amp; 0.059 &amp; 0.128 &amp; 0.048 \ % sndpwr &amp; -0.011 &amp; 0.012 &amp; 0.011 &amp; 0.013 &amp; -0.015 &amp; 0.013 &amp; 0.070 &amp; 0.012 &amp; 0.002 &amp; 0.012 &amp; 0.001 &amp; 0.012 \ % rate &amp; 0.136 &amp; 0.016 &amp; 0.097 &amp; 0.013 &amp; 0.099 &amp; 0.014 &amp; 0.098 &amp; 0.019 &amp; 0.086 &amp; 0.016 &amp; 0.107 &amp; 0.014 \ % freq &amp; 0.020 &amp; 0.011 &amp; 0.034 &amp; 0.012 &amp; -0.015 &amp; 0.012 &amp; 0.013 &amp; 0.011 &amp; 0.057 &amp; 0.011 &amp; 0.045 &amp; 0.011 \ % breaks &amp; 0.158 &amp; 0.012 &amp; 0.062 &amp; 0.012 &amp; 0.002 &amp; 0.013 &amp; -0.034 &amp; 0.011 &amp; -0.079 &amp; 0.011 &amp; 0.006 &amp; 0.012 \ % dx &amp; 0.118 &amp; 0.018 &amp; 0.008 &amp; 0.012 &amp; 0.160 &amp; 0.018 &amp; 0.286 &amp; 0.017 &amp; 0.309 &amp; 0.017 &amp; 0.223 &amp; 0.018 \ % dy &amp; -0.153 &amp; 0.017 &amp; 0.025 &amp; 0.012 &amp; 0.088 &amp; 0.020 &amp; 0.132 &amp; 0.017 &amp; 0.004 &amp; 0.017 &amp; 0.090 &amp; 0.017 \ % dz &amp; 0.108 &amp; 0.027 &amp; 0.097 &amp; 0.023 &amp; -0.259 &amp; 0.028 &amp; 0.175 &amp; 0.026 &amp; 0.017 &amp; 0.027 &amp; -0.091 &amp; 0.025 \ % rx &amp; 0.068 &amp; 0.017 &amp; -0.044 &amp; 0.012 &amp; -0.036 &amp; 0.018 &amp; -0.073 &amp; 0.017 &amp; 0.066 &amp; 0.017 &amp; -0.011 &amp; 0.016 \ % ry &amp; -0.194 &amp; 0.018 &amp; 0.009 &amp; 0.012 &amp; 0.060 &amp; 0.019 &amp; 0.021 &amp; 0.018 &amp; -0.019 &amp; 0.018 &amp; 0.055 &amp; 0.018 \ % rz &amp; 0.126 &amp; 0.019 &amp; -0.005 &amp; 0.015 &amp; -0.116 &amp; 0.018 &amp; 0.022 &amp; 0.018 &amp; 0.101 &amp; 0.018 &amp; 0.048 &amp; 0.018 \ % lstm256surp &amp; 0.076 &amp; 0.021 &amp; 0.082 &amp; 0.022 &amp; 0.024 &amp; 0.022 &amp; 0.012 &amp; 0.020 &amp; 0.064 &amp; 0.020 &amp; 0.028 &amp; 0.021 \ % rnngsurp-comp &amp; -0.023 &amp; 0.034 &amp; -0.058 &amp; 0.036 &amp; 0.004 &amp; 0.037 &amp; 0.073 &amp; 0.033 &amp; 0.057 &amp; 0.033 &amp; 0.049 &amp; 0.034 \ % rnngsurp &amp; 0.014 &amp; 0.031 &amp; 0.014 &amp; 0.033 &amp; 0.048 &amp; 0.033 &amp; -0.017 &amp; 0.030 &amp; -0.082 &amp; 0.030 &amp; -0.032 &amp; 0.031 \ %  % % \end{tabular} } % end resizebox %

<p>% \end{table}</p>
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % COEFFICIENTS: Add RNNG-COMP DISTANCE step-wise % %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % % \begin{table}[h] %  % \resizebox{}{!}{ % \begin{tabular}{l S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3 ]} %  % &amp; %  &amp; %  &amp; %  &amp; %  &amp; %  &amp; %  \ %  % (Intercept) &amp; -0.045 &amp; 0.052 &amp; -0.075 &amp; 0.026 &amp; 0.177 &amp; 0.049 &amp; -0.073 &amp; 0.054 &amp; 0.061 &amp; 0.058 &amp; 0.127 &amp; 0.048 \ % sndpwr &amp; -0.014 &amp; 0.012 &amp; 0.008 &amp; 0.013 &amp; -0.027 &amp; 0.013 &amp; 0.057 &amp; 0.012 &amp; -0.001 &amp; 0.012 &amp; -0.001 &amp; 0.012 \ % rate &amp; 0.140 &amp; 0.016 &amp; 0.100 &amp; 0.013 &amp; 0.107 &amp; 0.014 &amp; 0.106 &amp; 0.019 &amp; 0.089 &amp; 0.016 &amp; 0.108 &amp; 0.014 \ % freq &amp; 0.021 &amp; 0.011 &amp; 0.038 &amp; 0.012 &amp; -0.019 &amp; 0.012 &amp; 0.008 &amp; 0.011 &amp; 0.057 &amp; 0.011 &amp; 0.043 &amp; 0.011 \ % breaks &amp; 0.155 &amp; 0.012 &amp; 0.059 &amp; 0.012 &amp; -0.002 &amp; 0.012 &amp; -0.050 &amp; 0.011 &amp; -0.097 &amp; 0.011 &amp; -0.001 &amp; 0.011 \ % dx &amp; 0.118 &amp; 0.018 &amp; 0.008 &amp; 0.012 &amp; 0.160 &amp; 0.018 &amp; 0.287 &amp; 0.017 &amp; 0.307 &amp; 0.017 &amp; 0.224 &amp; 0.018 \ % dy &amp; -0.153 &amp; 0.017 &amp; 0.025 &amp; 0.012 &amp; 0.088 &amp; 0.020 &amp; 0.132 &amp; 0.017 &amp; 0.003 &amp; 0.017 &amp; 0.090 &amp; 0.017 \ % dz &amp; 0.107 &amp; 0.027 &amp; 0.097 &amp; 0.023 &amp; -0.261 &amp; 0.028 &amp; 0.175 &amp; 0.026 &amp; 0.017 &amp; 0.026 &amp; -0.090 &amp; 0.025 \ % rx &amp; 0.068 &amp; 0.017 &amp; -0.044 &amp; 0.012 &amp; -0.036 &amp; 0.018 &amp; -0.074 &amp; 0.017 &amp; 0.065 &amp; 0.017 &amp; -0.012 &amp; 0.016 \ % ry &amp; -0.194 &amp; 0.018 &amp; 0.009 &amp; 0.012 &amp; 0.059 &amp; 0.019 &amp; 0.020 &amp; 0.018 &amp; -0.020 &amp; 0.018 &amp; 0.054 &amp; 0.018 \ % rz &amp; 0.125 &amp; 0.019 &amp; -0.006 &amp; 0.015 &amp; -0.116 &amp; 0.018 &amp; 0.021 &amp; 0.018 &amp; 0.099 &amp; 0.018 &amp; 0.048 &amp; 0.018 \ % lstm256surp &amp; 0.071 &amp; 0.011 &amp; 0.047 &amp; 0.011 &amp; 0.071 &amp; 0.012 &amp; 0.070 &amp; 0.011 &amp; 0.054 &amp; 0.011 &amp; 0.046 &amp; 0.011 \ % rnngdist-comp &amp; -0.019 &amp; 0.011 &amp; -0.025 &amp; 0.012 &amp; -0.038 &amp; 0.012 &amp; -0.058 &amp; 0.011 &amp; -0.044 &amp; 0.011 &amp; -0.014 &amp; 0.011 \ %  % % \end{tabular} } % end resizebox %

<p>% \end{table}</p>
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % COEFFICIENTS: Add RNNG DISTANCE step-wise % %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% % % \begin{table}[h] %  % \resizebox{}{!}{ % \begin{tabular}{l S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3] S[table-format=1.3]@{<span class="math inline">±</span>} S[table-format=1.3 ]} %  % &amp; %  &amp; %  &amp; %  &amp; %  &amp; %  &amp; %  \ %  % (Intercept) &amp; -0.047 &amp; 0.052 &amp; -0.075 &amp; 0.026 &amp; 0.176 &amp; 0.049 &amp; -0.075 &amp; 0.054 &amp; 0.060 &amp; 0.058 &amp; 0.127 &amp; 0.048 \ % sndpwr &amp; 0.001 &amp; 0.012 &amp; 0.010 &amp; 0.013 &amp; -0.018 &amp; 0.013 &amp; 0.071 &amp; 0.012 &amp; 0.004 &amp; 0.012 &amp; 0.005 &amp; 0.012 \ % rate &amp; 0.134 &amp; 0.016 &amp; 0.100 &amp; 0.013 &amp; 0.104 &amp; 0.014 &amp; 0.101 &amp; 0.019 &amp; 0.087 &amp; 0.016 &amp; 0.105 &amp; 0.014 \ % freq &amp; 0.013 &amp; 0.011 &amp; 0.037 &amp; 0.012 &amp; -0.023 &amp; 0.012 &amp; 0.001 &amp; 0.011 &amp; 0.055 &amp; 0.011 &amp; 0.040 &amp; 0.011 \ % breaks &amp; 0.146 &amp; 0.012 &amp; 0.058 &amp; 0.012 &amp; -0.007 &amp; 0.013 &amp; -0.058 &amp; 0.011 &amp; -0.100 &amp; 0.011 &amp; -0.004 &amp; 0.012 \ % dx &amp; 0.116 &amp; 0.017 &amp; 0.008 &amp; 0.012 &amp; 0.159 &amp; 0.018 &amp; 0.286 &amp; 0.017 &amp; 0.307 &amp; 0.017 &amp; 0.223 &amp; 0.018 \ % dy &amp; -0.153 &amp; 0.017 &amp; 0.025 &amp; 0.012 &amp; 0.087 &amp; 0.020 &amp; 0.131 &amp; 0.017 &amp; 0.003 &amp; 0.017 &amp; 0.089 &amp; 0.017 \ % dz &amp; 0.107 &amp; 0.027 &amp; 0.097 &amp; 0.023 &amp; -0.261 &amp; 0.028 &amp; 0.175 &amp; 0.026 &amp; 0.017 &amp; 0.026 &amp; -0.091 &amp; 0.025 \ % rx &amp; 0.067 &amp; 0.017 &amp; -0.044 &amp; 0.012 &amp; -0.036 &amp; 0.018 &amp; -0.074 &amp; 0.016 &amp; 0.065 &amp; 0.017 &amp; -0.012 &amp; 0.016 \ % ry &amp; -0.195 &amp; 0.018 &amp; 0.009 &amp; 0.012 &amp; 0.059 &amp; 0.019 &amp; 0.018 &amp; 0.018 &amp; -0.020 &amp; 0.018 &amp; 0.053 &amp; 0.018 \ % rz &amp; 0.122 &amp; 0.019 &amp; -0.006 &amp; 0.015 &amp; -0.118 &amp; 0.018 &amp; 0.018 &amp; 0.018 &amp; 0.098 &amp; 0.018 &amp; 0.047 &amp; 0.018 \ % lstm256surp &amp; 0.071 &amp; 0.011 &amp; 0.047 &amp; 0.011 &amp; 0.071 &amp; 0.012 &amp; 0.070 &amp; 0.011 &amp; 0.054 &amp; 0.011 &amp; 0.046 &amp; 0.011 \ % rnngdist-comp &amp; -0.071 &amp; 0.014 &amp; -0.032 &amp; 0.015 &amp; -0.066 &amp; 0.015 &amp; -0.105 &amp; 0.014 &amp; -0.059 &amp; 0.014 &amp; -0.033 &amp; 0.014 \ % rnngdist &amp; 0.081 &amp; 0.014 &amp; 0.011 &amp; 0.015 &amp; 0.045 &amp; 0.015 &amp; 0.074 &amp; 0.014 &amp; 0.024 &amp; 0.014 &amp; 0.030 &amp; 0.014 \ %  % % \end{tabular} } % end resizebox %

<p>% \end{table}</p>
<p>%% BIBLIOGRAPHY</p>

<p>\end{document}</p>
